* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    padding: 1vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav_elem {
    display: flex;
    align-items: center;
    gap: 5vmax;
}

nav .nav_button button {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

/* # part1 */
.part1 .container {
    height: 39vw;
    width: 97vw;
    background-image: url("https://unityholidays.co.uk/app/uploads/bis-images/1565/monitor-teaching-padel-class-2024-10-14-22-21-30-utc-scaled-1200x800-f70_56.jpg");
    background-size: cover;
    background-position: 20% 40%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}

.part1 .container .text {
    padding: 5vw;
    text-align: center;
}

.part1 .container .text h1 {
    color: white;
    font-size: 3vmax;
    font-weight: 500;
}

.part1 .container .text p {
    color: white;
    font-size: 1vmax;
    padding: 15px 0;
}

.part1 .container .text button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.part1 .container .text_img {
    display: flex;
    justify-content: space-between;
    padding-top: 14.3vmax;
}

.part1 .container .text_img .text_circle_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part1 .container .text_img .text_circle_img p {
    font-size: 0.8vmax;
}


.part1 .container .text_img img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -7px;
}

.part1 .container .text .plateform_txt {
    display: flex;
    gap: 1.5vmax;
}

/* # part2 */

.part2 {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part2 .text1 {
    width: 40%;
}

.part2 .text1 button {
    padding: 5px 10px;
    border-radius: 20px;
    border: 0.7px solid black;
    background-color: white;
    color: black;
    font-size: 1.3vmax;
}

.part2 .text2 {
    width: 60%;
}

.part2 .text2 h2 {
    font-size: 2.1vmax;
    width: 100%;
    font-weight: 500;
}

/* # part3 */

.part3 {
    margin-top: 60px;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 80px;
    gap: 10px 20px;
    border-radius: 20px;
}

.part3 .child1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #0D1A2D;
    border-radius: 20px;
    color: white;
    padding: 2.5vmax;
}

.part3 .child1 i {
    font-size: 50px;
}

.part3 .child1 p {
    padding-top: 2vmax;
    font-size: 1.7vmax;
    font-weight: 700;
}

.part3 .child1 p span {
    opacity: 0.5;
}

.part3 .child1 .toggle_wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vmax;
    margin-top: 3.5vmax;
}

.part3 .child1 .toggle_button {
    height: 30px;
    width: 60px;
    gap: 50px;
    border-radius: 20px;
    background-color: #30B2FB;
    margin-top: 2vmax;
    position: relative;

}

.part3 .child1 .toggle_button .ui_toggle {
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 12%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.part3 .child1 .toggle_button .ui_toggle::after {
    content: "";
    height: 8px;
    width: 8px;
    background-color: #30B2FB;
    border-radius: 50%;
}

.part3 .child1 .toggle_wrapper p {
    font-weight: 300;
    font-size: 1.3vmax;
    opacity: 0.6;
}

.part3 .child2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(https://img.freepik.com/premium-photo/pilates-trainer-with-yoga-mat-sky-background-workout_474717-198.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
}

.part3 .child2 button {
    padding: 1vmax 1.4vmax;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 1vmax;
    border-radius: 30px;
    background: linear-gradient(to right, #8ECBF3, transparent);
    border: none;
}

.part3 .child3 {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #F7F8FC;
    border-radius: 20px;
    padding: 2vmax;
}

.part3 .child3 .elem h1 {
    font-size: 4vmax;
    font-weight: 500;
}


.part3 .child3 .elem p {
    padding-top: 0.5vmax;
    font-size: 1.1vmax;
    width: 70%;
    opacity: 0.5;
}

.part3 .child3 .elem img {
    object-fit: cover;
    padding-top: 2vmax;
}

.part3 .child4 {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part3 .child4 h2 {
    font-weight: 500;
}

/* #part4 */

.part4 {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    text-align: center;
}

.part4 .text1 h1 {
    font-size: 3vmax;
    font-weight: 600;
}

.part4 .text1 p {
    opacity: 0.7;
    line-height: 1.5;
}

.part4 .text2 h1 {
    font-size: 3vmax;
    font-weight: 600;
}

.part4 .text2 p {
    opacity: 0.7;
    line-height: 1.5;
}

.part4 .text3 h1 {
    font-size: 3vmax;
    font-weight: 600;
}

.part4 .text3 p {
    opacity: 0.7;
    line-height: 1.5;
}

.part4 .text4 h1 {
    font-size: 3vmax;
    font-weight: 600;
}

.part4 .text4 p {
    opacity: 0.7;
    line-height: 1.5;
}

/* #part5 */

.part5 {
    margin-top: 60px;
    height: 60%;
    display: grid;
    gap: 2vmax;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 5vmax;
}

.part5 .card1 {
    padding: 2vmax;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.part5 .card1 .service_button{
    padding: 0.3vmax 1vmax;
    border-radius: 20px;
    border: 1px solid black;
    background-color: transparent;
}

.part5 .card1 h3{
    padding-top: 2vmax;
    font-weight: 500;
    font-size: 1.5vmax;
}

.part5 .card1 .explore_button{
    margin-top: 5vmax;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.part5 .card2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRl4xHRUngaDu_1eeQx2p9X96mrXREzL8vSD0Rcz_n0iHyinV6N);
    background-size: cover;
    border-radius: 30px;
}

.part5 .card2 .card_elem{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 23vmax;
}

.part5 .card2 .card_elem button{
    margin: 1vmax 2vmax;
    padding: 1vmax 1.4vmax;
    background-color: transparent;
    color: white;
    font-size: 1vmax;
    border-radius: 30px;
    background: linear-gradient(to right, #E9D3C4, #e9d3c422);
    border: none;
}

.part5 .card2 .card_elem .text_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part5 .card3 {
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 30px;
}

.part5 .card3 img{
    height: 300px;
    width: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.part5 .card3 h3{
    padding-top: 1.3rem;
}